# dependencies
/node_modules

# production build
/dist
/build

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite specific
.vite

# misc
.DS_Store
*.log
